.sidebar {
    width: 50px;
    height: 92.8%;

    margin-top: 3.6%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: rgb(48, 48, 48);
    border-right: 2px solid rgba(134, 134, 134, 0.342);
}
.icones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: -150px;
}
.icon-config {
    margin-bottom: -300px;
}